{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div class="d-flex justify-content-center align-items-center">
		<div class="col-md-6">
			<h1>Inscription</h1>

			{{ form_start(registrationForm) }}

			{{ form_row(registrationForm.username, {
                label: 'Nom de nain'
            }) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
			{{ form_row(registrationForm.agreeTerms, {
                label: 'J\'accepte les conditions d\'utilisation'
            }) }}

			<button type="submit" class="btn btn-primary btn-lg">S'inscrire</button>

			{{ form_end(registrationForm) }}
		</div>
	</div>

	<div class="d-flex justify-content-center mt-3">
		<a href="{{ path('app_home') }}" class="btn btn-secondary">Accueil</a>
	</div>

{% endblock %}
