{% extends 'base.html.twig' %}

{% block title %}Topic
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card">
			<div class="card-header">
				<h3>Topic:
					{{ topic.Title }}</h3>
			</div>
			<div class="card-body">
				<p class="card-text">{{ topic.message }}</p>
			</div>
			<div class="card-footer text-muted">
				Créé par
				{{ topic.user.username }}
				le
				{{ topic.CreatedAt|date('d-M-Y') }}
			</div>
		</div>

		<div
			class="mt-4">
			{# <a href="{{ path('new_message', {'topic_id': topic.id}) }}" class="btn btn-primary">Répondre</a> #}
			<a href="{{ path('app_forum') }}" class="btn btn-secondary">Retour</a>
		</div>
	</div>

	{# <ul>
																							{% for msg in topic.messages %}
																								<li>{{msg.content}}</li>
																							{% endfor %}
																						</ul> #}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>Réponses :</h3>
				<ul class="list-group">
					{% for msg in topic.messages %}
						<li class="list-group-item">
							{{msg.content}}
							<div class="card-footer text-muted">
								Créé par
								{{ topic.user.username }}
								le
								{{ topic.CreatedAt|date('d-F-Y à H:i:s', 'Europe/Paris') }}
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	{# {{form_start(form)}}
															<button type="submit">coucou</button>
															{{form_end(form)}} #}


	<footer class="fixed-bottom bg-light">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					{{ form_start(form) }}
					<div class="form-group">
						{{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder': 'Votre réponse', 'value': ''}}) }}
					</div>
					<button type="submit" class="btn btn-primary">Envoyer</button>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</footer>

{% endblock %}
