{% extends 'base.html.twig' %}

{% block title %}Topic
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card">
			<div class="card-header">
				<h3>Topic:
					{{ topic.Title }}</h3>
			</div>
			<div class="card-body">
				<p class="card-text">{{ topic.message }}</p>
			</div>
			<div class="card-footer text-muted">
				Créé par
				{{ topic.user.username }}
				le
				{{ topic.CreatedAt|date('d-M-Y') }}
			</div>
		</div>

		<div class="mt-4">
			<a href="{{ path('new_message', {'topic_id': topic.id}) }}" class="btn btn-primary">Répondre</a>
			<a href="{{ path('app_forum') }}" class="btn btn-secondary">Retour</a>
		</div>
	</div>
{% endblock %}
