{% extends 'base.html.twig' %}

{% block title %}Topic{% endblock %}

{% block body %}
    <h1>Topic</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ topic.id }}</td>
            </tr>
            <tr>
                <th>Topic_title</th>
                <td>{{ topic.topicTitle }}</td>
            </tr>
            <tr>
                <th>Topic_creator</th>
                <td>{{ topic.topicCreator }}</td>
            </tr>
            <tr>
                <th>Topic_last_user</th>
                <td>{{ topic.topicLastUser }}</td>
            </tr>
            <tr>
                <th>Topic_date</th>
                <td>{{ topic.topicDate ? topic.topicDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Topic_reply_date</th>
                <td>{{ topic.topicReplyDate ? topic.topicReplyDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Topic_views</th>
                <td>{{ topic.topicViews }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_topic_index') }}">Retour</a>

    <a href="{{ path('app_topic_edit', {'id': topic.id}) }}">Editer</a>

    {{ include('topic/_delete_form.html.twig') }}
{% endblock %}
