{% extends 'base.html.twig' %}

{% block title %}Topic{% endblock %}

{% block body %}
    <h1>Topic</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre:</th>
                <td>{{ topic.Title }}</td>
            </tr>
{#            <tr>#}
{#                <th>Topic_creator</th>#}
{#                <td>{{ topic.User }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Topic_last_user</th>#}
{#                <td>{{ topic.LastUser }}</td>#}
{#            </tr>#}
            <tr>
                <th>Date de création:</th>
                <td>{{ topic.CreatedAt|date('d-M-Y') }}</td>
            </tr>
{#            <tr>#}
{#                <th>Topic_reply_date</th>#}
{#                <td>{{ topic.ReplyDate ? topic.ReplyDate|date('Y-m-d') : '' }}</td>#}
{#            </tr>#}
            <tr>
                <th>Nombre de vues:</th>
                <td>{{ topic.Views }}</td>
            </tr>
            <tr>
                <th>Contenu:</th>
                <td>{{ topic.message }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_forum') }}">Retour</a>

{#    Faire un bouton qui modifie la propriété CSS pour visibility hidden le formulaire de création de message#}



{#        <a href="{{ path('app_topic_edit', {'id': topic.id}) }}">Editer</a>#}

{#    {{ include('topic/_delete_form.html.twig') }}#}


{% endblock %}
