{% extends 'base.html.twig' %}

{% block title %}{{ 'welcome'|trans }} Forum!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 my-5">
                {% if app.user %}
                    <div class="bg-info p-3">
                        <p>{{ 'welcome'|trans }} {{ app.user.email }}</p>
                    </div>
                {% endif %}
            </div>
            <h1> {{ 'topic.list'|trans }} </h1>
            {% include 'forum/recursive_topic.html.twig' %}
        </div>
    </div>

            <br><br>
            <a href="{{ path('app_centre') }}">Menu</a>
            <br><br>
            <a href="{{ path('app_logout') }}">Déconnexion</a>

        </div>
    </section>
{% endblock %}
